doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="/styles/login.css")
  title Quilium
body
  #container
    h1 Login
    form(action="/auth/login", method="post")
      input(type="text", placeholder="Email", name="em")
      input(type="password", placeholder="Password", name="pw")
      input(type="hidden", name="_csrf", value= csrfToken)
      button(type="submit") Log in
