doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="/styles/read.css")
  title Quilium
body
  #container
    #header
      a(href="/journal/write" class="navButton") Write
      a(href="/auth/logout" class="navButton") Log out
    #entries
script(src="/scripts/read.js", charset="utf-8")
