doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="/styles/index.css")
  title Quilium
body
  #container
    form(action="journal/entry" method="post")
      input(id="title", placeholder="Title", name="title", required)
      p(id="entry-date") 1 October 2017
      textarea(placeholder="Dear Diary...", name="entry", required)
      button(type="submit") Save
script(src="/scripts/index.js", charset="utf-8")
