* {
  margin: 0;
  padding: 0;
}

body {
  background-color: pink;
}

#container {
  height: 100vh;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
}

#container form {
  display: flex;
  flex-flow: nowrap column;
  padding: 10px;
}

#container form input {
  padding: 10px;
  margin: 5px;
}

#container form button {
  padding: 10px;
  margin: 20px;
}
