*
  margin: 0
  padding: 0

#container
  background-color: black
  height: 100vh
  display: flex
  flex-flow: nowrap column
  justify-content: center
  align-items: center
  form
    display: flex
    flex-flow: nowrap column
    padding: 10px
    input
      background-color: black
      color: orange
      border-color: orange
      border-radius: 20px
      font-size: 1.2em
      padding: 10px
      margin: 5px
      text-align: center
    button
      background-color: black
      color: orange
      border-color: orange
      border-radius: 20px
      font-size: 1.2em
      font-weight: bold
      padding: 10px
      margin: 20px
      text-align: center
      &:hover
        background-color: orange
        color: black
