*
  margin: 0
  padding: 0

#container
  background-color: black
  color: orange
  height: 100vh
  display: flex
  flex-flow: nowrap column
  align-items: center
  #entry
    margin: 10px
    border: 2px solid orange
    max-width: 800px
    #heading
      padding: 10px
      border-bottom: 2px solid orange
    pre
      padding: 10px
      margin: 10px
      border-radius: 5px
      background-color: lightgreen
      color: black
      white-space: pre-line
      font-weight: bold
      font-size: 1.2em
