* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

#container {
  color: orange;
  height: 100vh;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}

#container #header {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: flex-end;
}

#container #header .navButton {
  background-color: black;
  color: orange;
  margin: 5px;
  padding: 5px;
}

#container #header .navButton:hover {
  background-color: orange;
  color: black;
}

#container #entries {
  padding-top: 20px;
}

#container #entries #entry {
  margin: 10px;
  border: 2px solid orange;
  max-width: 800px;
}

#container #entries #entry #heading {
  padding: 10px;
  border-bottom: 2px solid orange;
}

#container #entries #entry pre {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: lightgreen;
  color: black;
  white-space: pre-line;
  font-weight: bold;
  font-size: 1.2em;
}

@media (min-width: 400px) {
  #heading {
    display: flex;
    justify-content: space-between;
  }
}
